@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mukta', sans-serif;
    background-color: white;
    position: relative;
}

main {
    width: 85ch;
    min-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: 95vh;
    align-items: center;
}

.blob-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.blob {
    position: absolute;
    width: 90rem;
    z-index: -1;
}

.todo-section {
    position: relative;
    z-index: 1;
}

.info {
    text-align: right;
    position: relative;
    transform: translate(80px, 10px);
}

h2 {
    font-size: 1.3rem;
}

#weather span {
    font-size: 1rem;
}

#login-form {
    padding-top: 1rem;
}

input[type=text],
input[type=submit] {
    padding: 0.4rem;
    font-family: inherit;
}

.toDolist {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    min-height: 500px;
    min-width: 500px;
}

.form,
.list {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#todo-list {
    line-height: 2.2;
}

#todo-list li {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#todo-list li button {
    border: none;
    background-color: transparent;
}

#todo-form input[type=text] {
    width: 200px;
}

.hidden {
    display: none;
}